<div>
  <h2>Jogo da Velha</h2>

  <div class="main">
    <a href="#" class="button">Iniciar</a>
  </div>

  <div>
    <ul>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-right"></li>
      <li class="kz-border-right"></li>
      <li></li>
    </ul>
  </div>

  <div>
    <span>
      <p>Você Venceu!!!</p>
      <p>Você Perdeu...</p>
      <p>O Jogo Terminou Empatado...</p>
      <br />
      <a href="#" class="button">Jogar novamente</a>
    </span>
  </div>
</div>
